@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Signika, sans-serif;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.btn{
    height: 35px;
    background: #FF0099;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px solid #FF0099;
}

/* header section */
header {
  background: #0099CC;
  color: white;
  padding-top: 10px;
  min-height: 70px;
}

header .header-container {
  display: flex;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  display: flex;
}

header ul li {
  margin-right: 70px;
  display: inline;
  margin-top: 20px;
}

/* hero */
#hero {
  background: url("../img/new.jpg");
  min-height: 400px;
  color: white;
  background-size: cover;
  text-align: center;
}

#hero h1{
    font-size: 57px;
    margin-top: 100px;
}

#hero p {
    font-size: 22px;
}

/* subscribe */

.subscribe{
    background: #0099CC;
    padding: 15px;
    color: #fff;
}

.subscribe .container{
    display: flex;
    justify-content: space-between;
}

.subscribe .container form{
    padding: 22px;
}

.subscribe .container input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    border: none;
    border: 2px solid white
}

/* display */

#wrapper{
    margin-top: 80px;
    height: 40vh;
}

#wrapper .container{
    display: flex;
    justify-content: space-between;
}

#wrapper .container .box{
    text-align: center;
    padding: 10px;
}

#wrapper .container .box img{
    width: 100px;
}

footer{
    padding: 20px;
    background: #0099CC;
    color: #fff;
    text-align: center;
}